* {
  margin: 0;
  padding: 0;
}
.bg-img1 {
  background-color: #000;
  background-size: cover;
  width: 100%;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  width: 100%;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  width: 100%;
}
